<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
		bootstrap="tests/bootstrap.php"
		colors="true"
		beStrictAboutTestsThatDoNotTestAnything="true"
		failOnWarning="true"
		failOnRisky="true">
	<testsuites>
		<testsuite name="Colorlib Login Customizer">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
