.customize-control-clc-range-slider input[type="text"] {
    border: none;
    text-align: center;
    padding: 2px;
    margin: 0;
    font-size: 12px;
    color: #333;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    width: 42px;
    height: 22px;
}

.customize-control-clc-range-slider .ui-slider {
    position: relative;
    text-align: left;
    height: 2px;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    width: 202px;
    background: #d6d6d6;
}

.customize-control-clc-range-slider .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    top: -10px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border: solid 1px #d7d7d7;
    transform: translateX(-50%);
}

.customize-control-clc-range-slider .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    background-position: 0 0;
    background: #E04D43;
    top: 0;
    bottom: 0;
}

.clc-tooltip {
    width: 150px;
    position: absolute;
    background: #55AAD3;
    color: #EEE;
    font-size: 12px;
    min-height: 50px;
    border-radius: 5px;
    left: -75px; /* half of its width */
    bottom: 25px;
    z-index: 10;
    display: none;
    padding: 12px;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
}

.accordion-section-content > li:nth-of-type(2) .clc-tooltip {
    bottom: initial;
    top: 25px;
}

.dashicons.dashicons-editor-help {
    cursor: pointer;
    color: #55AAD3;
}

.dashicons.dashicons-editor-help:hover > .clc-tooltip {
    display: block;
}

.predefined-color-schemes-container {
    padding: 10px;
}

.predefined-color-schemes-container .ml-color-schemes-list {
    list-style-type: none;
    display: inline-block;
    text-align: center;
}

.predefined-color-schemes-container .ml-color-schemes-list li {
    display: inline-block;
    text-align: center;
}

.predefined-color-schemes-container .ml-color-schemes-list a img {
    width: 50px;
}

.customize-control-clc-templates {
  margin-bottom: 0;
  margin-top: -6px;
  position: relative;
}
.customize-control-clc-templates .colorlib-login-customizer-templates {
  margin-left: -3px;
  overflow-y: scroll;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  width: calc(100% + 1px);
}
.customize-control-clc-templates .colorlib-login-customizer-templates__input {
  display: none !important;
}
.customize-control-clc-templates .colorlib-login-customizer-templates__input:checked + label {
  box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.7);
}
.customize-control-clc-templates .colorlib-login-customizer-templates__label {
  border-radius: 1px;
  border: 1px solid transparent;
  box-shadow: 0 0 0 0 #5b9dd9, 0 0 0 0 rgba(30, 140, 190, 0.8);
  cursor: pointer;
  display: block;
  margin: 0 0 8px;
  transition: border-color 100ms, box-shadow 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customize-control-clc-templates .colorlib-login-customizer-templates__label:hover {
  box-shadow: 0 0 0 1px #5b9dd9, 0 0 3px rgba(0, 115, 170, 0.8);
}
.customize-control-clc-templates .colorlib-login-customizer-templates__label:active {
  transform: scale(0.985);
}
.customize-control-clc-templates .colorlib-login-customizer-templates__screenshot {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid #eee;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.customize-control-clc-templates .colorlib-login-customizer-templates__intrinsic {
  line-height: 0;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
}
.customize-control-clc-templates .colorlib-login-customizer-templates__intrinsic:after {
  content: "";
  display: block;
  padding-top: 70.4%;
}

/* Group Button */
.colorlib-login-customizer-control-group {
  width: 100%;
  height: 33px;
  background: #FEFEFE;
  border-radius: 3px;
  line-height: 35px;
  cursor: pointer;
  box-sizing: border-box;
  border: solid 1px rgba(219, 219, 219, 0.9);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
  height: 35px;
}

.colorlib-login-customizer-control-group a {
  float: left;
  height: 33px;
  background: rgba(150, 180, 150, 0);
  text-align: center;
  text-decoration: none;
}
.colorlib-login-customizer-control-group.colorlib-login-customizer-group-four a {
  width: 25%;
}

.colorlib-login-customizer-control-group.colorlib-login-customizer-group-three a {
  width: 33.333333%;
}

.colorlib-login-customizer-control-group.colorlib-login-customizer-group-two a {
  width: 50%;
}
.colorlib-login-customizer-control-group a.active {
  background-color: #fefefe;
  -webkit-box-shadow: inset 0 3px 0px #57a7c9, inset 2px 0px 5px 0px rgba(0, 0, 0, 0.05), inset -2px 0px 5px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 0px #57a7c9, inset 2px 0px 5px 0px rgba(0, 0, 0, 0.05), inset -2px 0px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 0px #57a7c9, inset 2px 0px 5px 0px rgba(0, 0, 0, 0.05), inset -2px 0px 5px 0px rgba(0, 0, 0, 0.05); }

  /* Toggle */
  .customize-control-title.onoffswitch_label {
  display: block;
  float: left;
  margin: 0;
  height: 22px;
  line-height: 22px; }

.onoffswitch_label {
  display: block; }

.onoffswitch {
  position: relative;
  width: 52px;
  display: block;
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none !important; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 22px;
  padding: 0;
  line-height: 19px;
  transition: background-color 0.2s ease-in;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 30px;
  background-color: #c4c4c4;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.11);
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.11); }
  .onoffswitch-label:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin: 0;
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 32px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in 0s; }
  .onoffswitch-label:after {
    content: "OFF";
    display: block;
    color: #FFF;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 6px;
    font-size: 11px;
    font-family: 'Arial'; }

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #3caf0e; }

.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #3caf0e; }

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 2px; }

.onoffswitch-checkbox:checked + .onoffswitch-label:after {
  content: "ON";
  display: block;
  color: #FFF;
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 27px;
  font-size: 11px;
  font-family: 'Arial'; }

  /* Color Picker */
  .clc-color-picker-title {
  margin-left: 42px;
  margin-bottom: 0 !important;
  line-height: 24px !important;
}
  .clc-color-picker-title .clc-color-picker-description {
    font-size: 13px;
    line-height: 16px;
    font-weight: initial;
    color: #959696;
    display: block; }
  .clc-color-picker-title .clc-color-picker-default {
    font-style: italic;
    font-weight: 300;
    color: #959696;
    cursor: pointer; }
    .clc-color-picker-title .clc-color-picker-default:hover, .clc-color-picker-title .clc-color-picker-default:focus {
      color: #55AAD3; }

.minicolors-theme-default {
  display: block !important; }
  .minicolors-theme-default .clc-color-picker {
    z-index: 100;
    position: absolute;
    top: -20px;
    left: 50px;
    opacity: 0;
    visibility: hidden;
    width: 153px !important;
    padding: 5px;
    transition: all .1s ease-in; }
  .minicolors-theme-default.minicolors-focus .clc-color-picker {
    opacity: 1;
    visibility: visible; }
  .minicolors-theme-default .minicolors-input-swatch {
    width: 30px;
    height: 22px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    cursor: pointer; }

.lite {
  opacity: 0;
  visibility: hidden; }

.minicolors-position-left .minicolors-panel {
  left: 50px; }
.customize-control-clc-color-picker {
  padding: 18px 0 6px 0; }

/* Layout Columns */
.clc-layouts-container-advanced .clc-layouts-setup {
    display: inline-block;
    width: 100%;
}
.clc-layouts-container-advanced .clc-column {
    border-right: 4px solid #f4f4f4;
    float: left;
    position: relative;
    box-sizing: border-box;
    height: 40px;
    background-color: #cacaca;
    -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
    text-align: center;
}
.clc-layouts-container-advanced .clc-column.col12 {
  width: 100%;
}
.clc-layouts-container-advanced .clc-column.col11 {
  width: 91.66666667%;
}
.clc-layouts-container-advanced .clc-column.col10 {
  width: 83.33333333%;
}
.clc-layouts-container-advanced .clc-column.col9 {
  width: 75%;
}
.clc-layouts-container-advanced .clc-column.col8 {
  width: 66.66666667%;
}
.clc-layouts-container-advanced .clc-column.col7 {
  width: 58.33333333%;
}
.clc-layouts-container-advanced .clc-column.col6 {
  width: 50%; }
.clc-layouts-container-advanced .clc-column.col5 {
  width: 41.66666667%;
}
.clc-layouts-container-advanced .clc-column.col4 {
  width: 33.33333333%;
}
.clc-layouts-container-advanced .clc-column.col3 {
  width: 25%;
}
.clc-layouts-container-advanced .clc-column.col2 {
  width: 16.66666667%;
}
.clc-layouts-container-advanced .clc-column.col1 {
  width: 8.33333333%;
}
.clc-layouts-container-advanced .clc-column a {
  opacity: .2;
  width: 17px;
  height: 17px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #e14d43;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 2%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.clc-layouts-container-advanced .clc-column a .dashicons {
  font-size: 12px;
  line-height: 17px;
  width: initial;
  height: initial;
}
.clc-layouts-container-advanced .clc-column.clc-column-left a {
  left: auto;
  right: 2%;
}
.clc-layouts-container-advanced .clc-column:hover > a,
.clc-layouts-container-advanced .clc-column:focus > a {
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

li#customize-control-clc-options-custom-css > .CodeMirror-wrap {
    height:calc(100vh - 230px);
}