.customize-control-epsilon-slider-custom input[type="text"] {
    border: none;
    text-align: center;
    padding: 2px;
    margin: 0;
    font-size: 12px;
    color: #333;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    width: 42px;
    height: 22px;
}

.customize-control-epsilon-slider-custom .ui-slider {
    position: relative;
    text-align: left;
    height: 2px;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    width: 202px;
    background: #d6d6d6;
}

.customize-control-epsilon-slider-custom .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    top: -10px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border: solid 1px #d7d7d7;
    transform: translateX(-50%);
}

.customize-control-epsilon-slider-custom .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    background-position: 0 0;
    background: #E04D43;
    top: 0;
    bottom: 0;
}

.widget-content label.block {
    display: block;
    margin-bottom: 10px;
}

.widget-content input.rl-slider {
    border: none;
    text-align: center;
    padding: 2px;
    margin: 0 0 15px;
    font-size: 12px;
    color: #333;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    width: 42px;
    height: 22px;
    cursor: pointer;
}

.widget-content .ui-slider {
    position: relative;
    text-align: left;
    height: 2px;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    margin-left: 15px;
    display: inline-block;
    width: 175px;
    float: right;
    background: #d6d6d6;
}

.widget-content .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    top: -10px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border: solid 1px #d7d7d7;
    transform: translateX(-50%);
}

.widget-content .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    background-position: 0 0;
    background: #E04D43;
    top: 0;
    bottom: 0;
}

.mte-tooltip {
    width: 150px;
    position: absolute;
    background: #55AAD3;
    color: #EEE;
    font-size: 12px;
    min-height: 50px;
    border-radius: 5px;
    left: -75px; /* half of its width */
    bottom: 25px;
    z-index: 10;
    display: none;
    padding: 12px;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
}

.accordion-section-content > li:nth-of-type(2) .mte-tooltip {
    bottom: initial;
    top: 25px;
}

.dashicons.dashicons-editor-help {
    cursor: pointer;
    color: #55AAD3;
}

.dashicons.dashicons-editor-help:hover > .mte-tooltip {
    display: block;
}